:root {
  --section-width: 56rem;
  --color-pink: #db0077;
  --color-green: #337357;
  --color-asparagus: #6d9f71;
  --color-eggshell: #e4e3d3;
  --color-blue: #2e2d4d;
}

@font-face {
  font-family: "Brygada_1918";
  src: url("./fonts/Brygada_1918/Brygada1918-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brygada_1918";
  src: url("./fonts/Brygada_1918/Brygada1918-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Base styles */
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  /* color: #222;
  background-color: #f9f9f9; */
  color: var(--color-blue);
  background-color: var(--color-eggshell);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Brygada_1918", serif;
  font-weight: 500;
}

h1 {
  font-size: 7.5rem;
  margin-bottom: 0.5em;
  line-height: 1.2;
  color: var(--color-green);
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 1rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: var(--color-green);
}

p,
li,
label,
input,
button,
blockquote,
.features > div,
.products ul,
.products li,
.contact-info,
.contact-info > div,
.contact-info form,
footer {
  font-family: "Brygada_1918", Arial, sans-serif;
}

p,
li {
  text-wrap: pretty;
}

/* Prevent short words from breaking at line end */
p strong,
li strong {
  white-space: nowrap;
}

/* Add non-breaking space after short words */
p:not(:has(strong)),
li:not(:has(strong)) {
  text-wrap: pretty;
}

header.hero {
  color: white;
  text-align: center;
  padding: 6em 1em;
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
  position: relative;
  max-width: var(--section-width);
  margin: 0 auto;
  text-align: left;
  padding: 1.5em;
  border-radius: 8px;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero-overlay {
    padding: 0;
  }
  .hero-overlay h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .hero-overlay-text {
    max-width: 100%;
  }
}

.hero-overlay h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: -1.2em;
  color: var(--color-green);
}

@media (max-width: 768px) {
  .hero-overlay h2 {
    font-size: 1.2rem;
    margin-bottom: -0.5em;
  }
}

section {
  padding: 2em 1em;
  max-width: var(--section-width);
  margin: 0 auto;
}

/* .intro, */
.join,
.quote {
  text-align: center;
}

.join {
  border: solid var(--color-pink);
  margin-top: 3em;
  margin-bottom: 3em;
}

.features {
  text-align: center;
}

.features ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  text-align: left;
}

.features li {
  margin-bottom: 1em;
  break-inside: avoid;
}

.features h6 {
  margin-bottom: 0;
  color: var(--color-asparagus);
}

.features h3 {
  margin-top: 1rem;
}

.products ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.products li {
  margin-bottom: 1em;
  break-inside: avoid;
}

.products h6 {
  margin-bottom: 0;
  color: var(--color-asparagus);
}

.products h3 {
  margin-top: 1rem;
}

.quote blockquote {
  font-style: italic;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.quote strong {
  color: var(--color-green);
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 2em;
}
.contact-info strong:not(:first-child) {
  display: block;
  margin-top: 1.5em;
}

.contact-info > div,
.contact-info form {
  flex: 1 1 45%;
}

.contact-info form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input,
button {
  padding: 0.5em;
  border: 1px solid #aaa;
  border-radius: 4px;
}

button {
  background-color: #222;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: var(--color-green);
  color: white;
  font-size: 0.9em;
  margin-top: 3em;
}

/* Mobile styling */
@media (max-width: 768px) {
  .features ul {
    grid-template-columns: 1fr;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info > div,
  .contact-info form {
    flex: 1 1 100%;
  }

  header.hero {
    padding: 4em 1em;
  }

  section {
    padding: 1.5em 1em;
  }

  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  h4 {
    font-size: 1rem;
  }

  .products li strong {
    display: block;
    margin-bottom: 0.25em;
  }

  input,
  button {
    font-size: 1em;
  }

  .products ul {
    grid-template-columns: 1fr;
  }
}
